/*-- scss:defaults --*/

// Flatly's color palette applied to darkly's structure
$body-bg: #ecf0f1 !default;
$body-color: #2C3E50 !default;

$primary: #2C3E50 !default;
$success: #18BC9C !default;
$info: #3498DB !default;
$warning: #F39C12 !default;
$danger: #E74C3C !default;

$card-bg: #fff !default;
$navbar-bg: #2C3E50 !default;